<% @reviews.each do |review| %>
  <ol class="reviews">
    <li id="review-<%= review.id %>">
      <span class="beer">
        <p><%= link_to review.beer.name, beer_path(review.beer_id) %></p>
      </span>
      <span class="comment">
        <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
      </span>
      <div class="star-rating stars" data-score= <%= review.rating %>></div>
      <span class="timestamp">
        Posted <%= time_ago_in_words(review.created_at) %> ago.
      </span>
      <span class="actions">
          <%= link_to "Edit", edit_beer_review_path(review.beer_id, review.id), class: "btn btn-primary btn-xs" %> 
          <%= link_to "Delete", beer_review_path(review.beer_id, review.id), method: :delete, class: "btn btn-danger btn-xs" %>
      </span>
    </li>
  </ol>
<% end %>