<% provide(:title, @beer.name) %>
<div class="boxed">
  <div class="row">
    <aside class="col-md-4">
      <section class="beer_info">
        <h1>
            <%= @beer.name %>
        </h1>
     	  <small>
     	  <%= link_to "Edit", edit_beer_path, class: "btn btn-primary btn-xs" %>
        </small></br></br>
        <%= image_tag @beer.picture.url if @beer.picture? %>
      </section>
      <section class="beer-stats">
      	<div class="star-rating" data-score= <%= @avg_rating %> ></div>
        <p><%= "#{@reviews.length} reviews" %></p>
        <%= render 'stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <div class='top_menu'>
        <%= link_to "Write Review", new_beer_review_path(@beer), class: "btn btn-primary" %>
      </div>
      <% if @beer.reviews.any? %>
        <h3>Reviews (<%= @beer.reviews.count %>)</h3>
        <ol class="reviews">
         <%= render @reviews %>
        </ol>
      <% else %>
        <h5>What, no reviews of this beer yet.... be the first and review!</h5>  
      <% end %>
    </div>
  </div>
</div>
